@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
  text-align:center;
}

#wrap{
  position:absolute;
  
  /*
  background-image: url(../pics/background.jpg);
  */
  
  width:100%;
  height:100%;
}

/* Style Spiel*/

#field{  
  background-color: lightgrey;  
  width: 200px;
  height: 420px;
  position:relative;
  margin: 10px auto;
  /*background-image: url(../pics/warehouse.jpg);*/
  background-size:  auto 100%;
  background-position: center bottom;
}

.menu{
  margin: 0 auto;
  width:400px;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.black{
  background-color: black;
}

.yellow{
  background-color: yellow;
}

.white{
  background-color: white;
}

.block{
  position: absolute;
  background-image: url(../pics/block.png);    
}
.player{
  position: absolute;
  background-image: url(../pics/player.png);    
}
.powerupHeart{
  position: absolute;    
  background-image: url(../pics/powerup_heart.png);
}

/* Style Seite*/

button {
	text-align:center;
	margin:5px;
	padding:2px;
	line-height: 1.5;
	width: 110px;
	color: #000;
	background-color:  rgba(230,230,230,0.8);
	box-sizing: border-box;
	border-radius: 4px; 
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
	font-weight: bold;
	color: buttontext;
	display:block;
	float:left;
}

button:hover {
	box-shadow: 0 0 3px 1px rgba(0,0,0,1)
}

button:active {
	box-shadow:
		inset 0px 0px 4px rgba(0,0,0,0.2),
		inset 0px 1px 1px rgba(0,0,0,0.2),
		0px 1px white;
	text-shadow:0px 0px 0px #aaa;
}

