@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
  margin-top: 100px;
  text-align:center;
}

#wrap{
  position:absolute;
  background-image: url(../pics/background.jpg);
  background-position: center;
  background-size: 1500px 1500px;
  background-repeat:  no-repeat;
  width:100%;
  height:100%;
}

/* Style Spiel*/

#field{  
  background-color: rgba(200,200,200,.7);
  height: 420px;
  position:relative;
  margin: 0 auto;
  background-position: center bottom;
  background-size: 200px;
  border: 1px black solid
}

.menu{
  margin: 0 auto;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.black{
  background-color: black;
}

.yellow{
  background-color: yellow;
}

.white{
  background-color: white;
}

.block, .powerupHeart, .player{
  position: absolute;    
}

/* Style Seite*/

button {
	text-align:center;
	margin:5px;
	padding:2px;
	line-height: 1.5;
	width: 110px;
	color: #000;
	background-color:  rgba(230,230,230,0.8);
	box-sizing: border-box;
	border-radius: 4px; 
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
	font-weight: bold;
	color: buttontext;
	display:block;
	float:left;
}

button:hover {
	box-shadow: 0 0 3px 1px rgba(0,0,0,1)
}

button:active {
	box-shadow:
		inset 0px 0px 4px rgba(0,0,0,0.2),
		inset 0px 1px 1px rgba(0,0,0,0.2),
		0px 1px white;
	text-shadow:0px 0px 0px #aaa;
}
.lifeWrap{
  float:left;
  width:33%;
  min-width:120px;
}

#hwrap{
  margin: 0 auto;
  width:120px;
}

.heart{
    width:24px;
    height:24px;
    background-size: contain;
    float:right;
}

.hon{
    background-image: url(../pics/powerup_heart_empty.png);
}

.hoff{
    background-image: url(../pics/powerup_heart.png);
}

.right {
	float:right;
	width:33%;
	text-align: right;
	min-width:100px;
}

.left {
	float:left;
	width:33%;
	min-width:50px;
}

.clear {
	clear: both; 
	overflow: hidden;
	height: 0;
	width: 0;
}
/*
Notiz Bildquellen:
http://vecto2000.com/bridht-spot-light-lighting-stadium/
http://vecto2000.com/blue-square-abstract-background-vector-illustration-art/

*/
